@model IEnumerable<RainbowSchoolManagement.Models.Classe>

@{
    ViewData["Title"] = "Index";
}

<h1>Class</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStrength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassLeader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassStrength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassLeader)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.class_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.class_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.class_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
